@charset "UTF-8";

html {
    font-size: 100%;
}
body {
    font-family: "나눔고딕", NanumGothic, "맑은고딕", MalgunGothic, "Apple SD Gothic Neo", sans-serif;
    line-height: 1.5;
    color: #432;
}
a {
    text-decoration: none;
}
img {
    max-width: 100%;
}

/* category */
.logo {
    width: 60px;
    margin: 20px 0 0 50px;
}
/* main bar */
.main-nav {
    display: flex;
    font-size: 1.25rem;
    margin-top: 30px;
    list-style: none;
}
.main-nav li {
    margin-left: 36px;
    text-align: center;
}
.main-nav a {
    color: gray;
}
.main-nav a:hover {
    color: black;
    font-weight: bold;
}
.page-header {
    display: flex;
    justify-content: flex-start;
}
.wrapper {
    max-width: 300vh;
    margin: 0 auto;
    padding: 0 0%;
}

/* 오른쪽 메뉴 분할 */
.main-nav li:nth-child(5) {
    margin-left: 60rem;
}

/* main */
.wrap {
    background-image: url(../images/sea.png);
    background-size: cover;
    height: 50vh;
    overflow:hidden;
    margin-top: 100px;
}
.wrap .page-title {
    text-align: center;
    padding-top: 10%;
    font-size:50px;
    color: #fff;
    font-family:sans-serif;
}

/* placeholder */
input:-ms-input-placeholder {color:rgb(155, 155, 155);}
input::-webkit-input-placeholder {color:rgb(155, 155, 155);}
input::-moz-placeholder {color:rgb(155, 155, 155);}
::placeholder {padding: 10px; font-size: 15px;}

/* 검색창 */
.search {
    height: 50px;
    width:600px;
    border-radius: 5px;
    background: #fff;
    position: absolute;
    top: 45%; left: 35%
}
button {
    width: 150px;
    height: 100%;
    border: 0px;
    background: #f89b00;
    outline: none;
    float: right;
    color: #fff;
    font-size: 25px;
    text-align: center;
}
.box {
    position: absolute;
    top: 43.5%; left:34%;
    border: 1px solid gray;
    border-radius: 5px;
    width: 640px;
    height: 80px;
    background-color: gray;
    opacity: 0.3;
}

/* FAQ_datail.html */
.main_container {
    width: 1920px;
    margin-top: 50px;
}
.box_one {
    display: grid;
    grid-template-columns: 65% 20%;
}
.box_two {
    display:flex;
    flex-direction: column;
    gap: 10px;
}
.box_two > div:first-child {
    width: 100%;
    flex: 5;
}
.box_two > div:last-child {
    width: 100%;
    flex: 5;
}
#ca_it {
    border-bottom: 1px solid gray;
    font-weight: bold;
}
.deep {
    margin-left: 5%;
}
#data {
    margin-left: 4%;
}
.btn {
    border:3px solid rgba(255, 153, 051, 0.8);
    width: 100px;
    height: 50px;
    margin-left: 20px;
    border-radius: 10px;
    color:rgba(255, 153, 051, 0.8);
    font-weight: bold;
}
.box2 {
    margin: 1% 5% 0 5%;
}
.box3 {
    margin: 1% 0 0 4%;
}
.box4 {
    margin: 1% 5% 0 5%;
}
.btn_ans {
    width: 200px;
    height: 50px;
    border-radius: 5px;
    background-color:rgba(255, 153, 051, 0.8);
    color: white;
    text-align: center;
    padding-top:12px;
    margin-left: 42%;
    font-weight: bold;
}

/* FAQ */

a {
    text-decoration: none;
    color: inherit;
}
.board_list_wrap {
    padding: 20px;
}
.board_list_head {
    border-bottom:1px solid #ccc;
}
.board_list_body .item {
    border-bottom: 1px solid #ccc;
}
.board_list_head,
.board_list_body .item {
    padding: 10px 0;
    font-size: 0;
}
.board_list_head > div,
.board_list_body .item > div {
    display: inline-block;
    text-align: center;
    font-size: 14px;
}
.board_list_body .item > div {
    font-weight: 600;
}
.board_list .num {
    margin-left: 6%;
    width: 10%;
}
.board_list .tit {
    width: 50%;
}
.board_list_body div.tit {
    text-align: left;
}
.board_list_body div.tit a:hover {
    text-decoration: underline;
}
.board_list .writer {
    width: 10%;
}
.board_list .date {
    width: 15%;
}
.faq_grid {
    display: grid;
    grid-template-columns: 70% 20%;
}
.search_box {
    display: flex;
    justify-content: center;
    margin-left: 40%;
}
.faq_search {
    border:1px solid #bbb;
    height: 35px;
}
.sear {
    width: 20%;
}
.btn_faqsear {
    background-color: rgba(255, 153, 051, 0.8);
    width: 5%;
    height: 35px;
    color: white;
    border-radius: 5px;
    margin-left: 1%;
}
.btn_faqwrite {
    background-color: rgba(255, 153, 051, 0.8);
    border-radius: 5px;
    color: white;
    width: 40%;
    height: 50px;
    margin-top: -20px;
}

/* paging */

.paging {
    margin-top: 30px;
    text-align: center;
}
.paging a {
    display: inline-block;
    vertical-align: middle;
}
.paging a.bt {
    width: 32px;
    height: 32px;
    background: rgba(255, 153, 051, 0.8); 
    background-image: url(../images/page_bt.png);
    background-repeat: no-repeat;
    border-radius: 100px;
    text-indent: -1000px;
    overflow: hidden;
}
.paging a.bt:hover {
    background-color: #999;
}
.paging a.first {
    background-position: 10px -38px;
}
.paging a.prev {
    background-position: 10px 12px;
    margin-right: 5px;
}
.paging a.next {
    background-position: -38px 12px;
    margin-right: 5px;
}
.paging a.last {
    background-position: -38px -38px;
}
.paging a.num {
    margin: 0 5px;
}
.paging a.num.on {
    color: #bbb;
}
.paging a.num:hover {
    text-decoration: underline;
}

/* review.html */

.review_grid {
    display: grid;
    grid-template-columns: 70% 20%;
}
.search_box {
    display: flex;
    justify-content: center;
    margin-left: 40%;
}
.review_search {
    border:1px solid #bbb;
    height: 35px;
}
.sear {
    width: 20%;
}
.btn_reviewsear {
    background-color: gray;
    width: 5%;
    height: 35px;
    color: white;
    border-radius: 5px;
    margin-left: 1%;
}
.btn_reviewwrite {
    background-color: gray;
    border-radius: 5px;
    color: white;
    width: 40%;
    height: 50px;
    margin-top: -20px;
}

/* review.html paging */

.review_paging {
    margin-top: 30px;
    text-align: center;
}
.review_paging a {
    display: inline-block;
    vertical-align: middle;
}
.review_paging a.bt {
    width: 32px;
    height: 32px;
    background: gray; 
    background-image: url(../images/page_bt.png);
    background-repeat: no-repeat;
    border-radius: 100px;
    text-indent: -1000px;
    overflow: hidden;
}
.review_paging a.bt:hover {
    background-color: #999;
}
.review_paging a.first {
    background-position: 10px -38px;
}
.review_paging a.prev {
    background-position: 10px 12px;
    margin-right: 5px;
}
.review_paging a.next {
    background-position: -38px 12px;
    margin-right: 5px;
}
.review_paging a.last {
    background-position: -38px -38px;
}
.review_paging a.num {
    margin: 0 5px;
}
.review_paging a.num.on {
    color: #bbb;
}
.review_paging a.num:hover {
    text-decoration: underline;
}

/**
* 아이디 찾기
*/

.email {
	  width: 100%;
  padding: 10px 20px;
  margin: 6px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}

.findbtn {
  background-color: orange;
  color: black;
  font-weight: 200;
  padding: 14px 20px;
  margin: 15px 0;
  border: none;
  cursor: pointer;
  text-align: center;
  width: 100%
}
.findbtn:hover {
  opacity: 0.8;
}
.container {
  padding: 16px;
}
.container-email {
  padding: 0 50px;
}
.cancelbtn {
  width: auto;
  padding: 10px 18px;
  background-color: #d8d8d8;
}
/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  padding-top: 60px;
}
/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}
/* Add Zoom Animation */
.animate {
  -webkit-animation: animatezoom 0.3s;
  animation: animatezoom 0.1s
}
@-webkit-keyframes animatezoom {
  from {-webkit-transform: scale(0)} 
  to {-webkit-transform: scale(1)}
}
  
@keyframes animatezoom {
  from {transform: scale(0)} 
  to {transform: scale(1)}
}

@media screen and (min-width: 768px) {
.modal-content {
	max-width: 800px;
}
}

/* map */
.wrapp {position: absolute;left: 0;bottom: 40px;width: 288px;height: 132px;margin-left: -144px;text-align: left;overflow: hidden;font-size: 12px;font-family: 'Malgun Gothic', dotum, '돋움', sans-serif;line-height: 1.5;}
.wrapp *{padding: 0%;margin: 0%;}
.wrapp .info {width: 286px;height: 120px;border-radius: 5px;border-bottom: 2px solid #ccc;border-right: 1px solid #ccc;overflow: hidden;background: #fff;}
.wrapp .info:nth-child(1) {padding: 0; border: 0;box-shadow: 0px 1px 2px #888;}
.info .title {padding: 0;height: 30px;background: #eee;border-bottom: 1px solid #ddd;font-size: 24px;}
.info .close {position: absolute;top: 10px;right: 10px;color: #888;width: 17px;height: 17px;background: url('https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/overlay_close.png');}
.info .close:hover {cursor: pointer;}
.info .body {position: relative;overflow: hidden; margin-left: 10px;}
.info .desc {position: relative;margin: 13px 0 0 90px;height: 75px;}
.desc .ellipsis {overflow: hidden;text-overflow: ellipsis;white-space: nowrap;}
.desc .jibun {font-size: 11px;color: #888;margin-top: -2px;}
.info .img {position: absolute;top: 6px;left: 5px;width: 73px;height: 71px;border: 1px solid #ddd;color: #888;overflow: hidden;}
.info:after {content: '';position: absolute;margin-left: -12px;left: 50%;bottom: 0;width: 22px;height: 12px;background: url('https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/vertex_white.png')}
.info .link {color: #5085BB;}